.hero {
  background-image: url(../img/hero-bg.jpg);
  min-height: 55.875rem;
}

.logo {
  color: $mandy;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  margin:45px 5px 0 210px;
}

.tagline {
  color: $white;
  display: inline-block;
  font-size: 10px;
}

.focus-words {
  color: $white;
  display: block;
  position: absolute;
  top: 343px;
  left: 228px;

}

.thank {
  display: block;
  padding-left: 100px;
}
